html,body{
	margin: 0;
	padding: 0;
}
#puzzle{
	width: 950px;
	margin: auto;
}
#p-container{
	width:600px;
	height:600px;
	/*border:1px solid white;*/
	margin: 50px 50px 0 0;
	position: relative;
	float: left;
}
.overlay{
	position: absolute;
	left: 0;
	top: 0;
	height: 600px;
	width: 600px;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	z-index: 1000;
}
h1{
	margin:200px 0 30px;
	color: white;
}
#right{
	width: 300px;
	float: left;
	margin-top: 50px;
	text-align: center;
}
div.pic{
	background-image: url('/img/puzzle.jpg');
	background-size: cover;
	width: 300px;
	height: 300px;
	margin-bottom: 50px;
}
.cell{
	box-sizing:border-box;
	border: 1px solid white;
	position: absolute;
	transition: top 0.5s , left 0.5s;
	background-image: url("/img/puzzle.jpg");
	background-repeat: no-repeat;
}
.level{
	box-sizing:border-box;
	/*float: left;*/
	width: 200px;
	height: 40px;
	font-size: 16px;
	margin: 0 auto 20px auto;
	line-height: 40px;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	color: #333;
}
.level.active{
	background-color: #ff5722;
	color: white;
}
.btn{
	width: 200px;
	height: 40px;
	background-color: #03a9f4;
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 4px;
}
